:host
{
  width: 100%;
  height: 100%;
}

.tab-list
{
  overflow: hidden;
}

.tab-link
{
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  border: 0.5px solid rgba(0, 17, 26, 0.7);
  margin: 0;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline: none;
  opacity: 0.5;
  float: left;
  text-decoration: none;
  color: #001a27;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.tab-link:hover
{
  opacity: 1;
}

.tab-link-selected
{
  padding-left: 15px;
  padding-right: 15px;
  border: 0.5px solid rgba(0, 17, 26, 0.7);
  margin: 0;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline: none;
  float: left;
  text-decoration: none;
  background-color: #001a27;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.content
{
  border: 0.5px solid rgba(0, 17, 26, 0.7);
}

.content-table
{
  padding-top: 15px;
  color: #001a27;
}

.content-thead
{
  font-weight: bold;
  border-bottom: 4px solid #2e6da4;
}

@media (max-width: 768px)
{
  .content-thead
  {
    font-size: 0.8em;
  }

  #new-post-mobile-button
  {
    position: fixed;
    bottom: 14%;
    right: 7%;
  }
}

.content-tbody
{
  margin-top: 10px;
}

.content-img
{
  background: no-repeat center center;
  background-size: cover;
}

#new-post-div
{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.new-post-div:hover
{
  background-color: rgba(124,124,124, 0.2);
}
