#loading
{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

@media (max-width: 767px)
{
  #loading
  {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 768px)
{
  #loading
  {
    height: 400px;
    width: 400px;
  }
}
