.postref-nav-button
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.postref-nav-button:active, .postref-nav-button:focus, .postref-nav-button:hover
{
  background-color: rgba(0, 0, 0, 0.1);
}
