:host
{
  width: 100%;
  height: 100%;
}

.blog-header-link, .blog-header-link:visited
{
  font-family: "Raleway", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(0, 17, 26, 0.7);
  text-decoration: none;
}

.blog-header-link:hover
{
  color: rgba(0, 17, 26, 1);
  cursor: pointer;
}

.darken-bg
{
  background-color: rgba(0, 17, 26, 0.5);
  height: 100%;
  width: 100%;
}

#post-header
{
  background: center bottom no-repeat;
  background-size: cover;
}

#post
{
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #001a27;
  border: 1px solid rgba(0, 26, 39, 0.1);
  padding: 20px 50px;
}

#post >>> p, #post >>> li
{
  text-align: justify;
}

.post-title, .post-subtitle
{
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.post-title
{
  font-size: 4em;
}

.post-subtitle
{
  font-size: 1.5em;
}

@media (max-width: 767px) and (orientation: portrait) {
  .post-title
  {
    font-size: 2.0em;
  }

  .post-subtitle
  {
    font-size: 1em;
  }

  #post
  {
    padding: 15px 25px;
  }

  #back-button
  {
    width: 40%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #back-button
  {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #back-button
  {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #back-button
  {
    width: 15%;
  }
}

.hvr-focus, .hvr-focus:active, .hvr-focus:focus, .hvr-focus:hover
{
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}

.hvr-focus
{
  opacity: 0.5;
}

.hvr-focus:active, .hvr-focus:focus, .hvr-focus:hover
{
  opacity: 1;
  cursor: pointer;
}
