:host
{
  width: 100%;
  height: 100%;
}

.blog-header-link, .blog-header-link:visited
{
  font-family: "Raleway", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(0, 17, 26, 0.7);
  text-decoration: none;
}

.blog-header-link:hover
{
  color: rgba(0, 17, 26, 1);
  cursor: pointer;
}

.darken-bg
{
  background-color: rgba(0, 17, 26, 0.5);
  height: 100%;
  width: 100%;
}

.post-title
{

}

#post-header
{
  background: center bottom no-repeat;
  background-size: cover;
}

#post
{
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #001a27;
  border: 1px solid rgba(0, 26, 39, 0.1);
  padding: 20px 50px;
}

.post-title, .post-subtitle
{
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.post-title
{
  font-size: 4em;
}

.post-subtitle
{
  font-size: 1.5em;
}

.back-button
{
  display: inline-block;
  width: 10%;
  border: 0.5px solid rgba(0, 17, 26, 0.7);
  text-decoration: none;
  background-color: transparent;
  color: #001a27;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}


@media (max-width: 767px) and (orientation: portrait) {
  .post-title
  {
    font-size: 2.0em;
  }

  .post-subtitle
  {
    font-size: 1em;
  }

  #post
  {
    padding: 15px 25px;
  }

  .back-button
  {
    width: 40%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .back-button
  {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .back-button
  {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .back-button
  {
    width: 15%;
  }
}


.back-button:active, .back-button:focus, .back-button:hover
{
  cursor: pointer;
  background-color: #001a27;
  color: #ffffff;
}
