:host
{
  width: 100%;
  height: 100%;
}

#post
{
  background-color: rgba(0, 8, 26, 0.3);
  font-family: "Roboto", sans-serif;
  color: #dbdcdd;
  border: 1px solid rgba(219, 220, 221, 0.1);
  padding: 20px 50px;
}

#post >>> p
{
  text-align: justify;
}

#post >>> a
{
  color: #7ebdc2;
}

.back-button
{
  display: inline-block;
  width: 10%;
  border: 0.5px solid rgba(219, 220, 221, 0.7);
  text-decoration: none;
  background-color: transparent;
  color: #dbdcdd;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}


@media (max-width: 767px) and (orientation: portrait) {
  #post
  {
    padding: 15px 25px;
  }

  .back-button
  {
    width: 40%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .back-button
  {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .back-button
  {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .back-button
  {
    width: 15%;
  }
}


.back-button:active, .back-button:focus, .back-button:hover
{
  cursor: pointer;
  background-color: #dbdcdd;
  color: #001a27;
}
