<svg
  class="block absolute h-centered h-100 pointer"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="100%"
  viewBox="0 0 2000 2000"
  id="loading"
  version="1.1"
  inkscape:version="0.91 r13725"
  sodipodi:docname="drawing.svg">
  <g
    inkscape:label="Layer 1"
    inkscape:groupmode="layer"
    id="layer1"
    transform="translate(0,947.63784)">
    <path
      sodipodi:type="star"
      style="fill:#ffffff;fill-opacity:0;stroke:#001a27;stroke-width:7.19648027;stroke-miterlimit:4;stroke-dasharray:820;stroke-dashoffset:21%;stroke-opacity:1"
      id="path1111"
      sodipodi:sides="6"
      sodipodi:cx="985.65366"
      sodipodi:cy="29.718492"
      sodipodi:r1="819.94519"
      sodipodi:r2="710.09344"
      sodipodi:arg1="0.52536687"
      sodipodi:arg2="1.0489656"
      inkscape:flatsided="true"
      inkscape:rounded="0"
      inkscape:randomized="0"
      d="M 1695.0211,440.94596 984.20395,849.6624 274.83656,438.43494 l 1.44974,-819.94391 710.81713,-408.71645 709.36737,411.22747 z" />
  </g>
</svg>
