@font-face {
  font-family: "Uni Sans";
  src: url("../assets/fonts/Uni Sans/uni-sans.thin-caps.eot");
  src: url("../assets/fonts/Uni Sans/uni-sans.thin-caps.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/Uni Sans/uni-sans.thin-caps.woff") format("woff"),
  url("../assets/fonts/Uni Sans/uni-sans.thin-caps.ttf")  format("truetype"),
  url("../assets/fonts/Uni Sans/uni-sans.thin-caps.svg#svgFontName") format("svg");
}

html
{
  height: 100%;
  width: 100%;
}

body
{
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f4f4f4;
  color: #fff;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

svg
{
  pointer-events: none;
}

@media (max-width: 767px) and (orientation: portrait) {
  .mobile-portrait-h-100
  {
    height: 100%;
  }

  .mobile-portrait-h-80
  {
    height: 80%;
  }

  .mobile-portrait-h-70
  {
    height: 70%;
  }

  .mobile-portrait-h-60
  {
    height: 60%;
  }

  .mobile-portrait-h-50
  {
    height: 50%;
  }

  .mobile-portrait-h-40
  {
    height: 40%;
  }

  .mobile-portrait-h-35
  {
    height: 35%;
  }

  .mobile-portrait-h-30
  {
    height: 30%;
  }

  .mobile-portrait-h-20
  {
    height: 20%;
  }

  .mobile-portrait-h-15
  {
    height: 15%;
  }

  .mobile-portrait-h-10
  {
    height: 10%;
  }

  .mobile-portrait-h-5
  {
    height: 5%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .mobile-landscape-h-100
  {
    height: 100%;
  }

  .mobile-landscape-h-80
  {
    height: 80%;
  }

  .mobile-landscape-h-70
  {
    height: 70%;
  }

  .mobile-landscape-h-60
  {
    height: 60%;
  }

  .mobile-landscape-h-50
  {
    height: 50%;
  }

  .mobile-landscape-h-40
  {
    height: 40%;
  }

  .mobile-landscape-h-35
  {
    height: 35%;
  }

  .mobile-landscape-h-30
  {
    height: 30%;
  }

  .mobile-landscape-h-20
  {
    height: 20%;
  }

  .mobile-landscape-h-15
  {
    height: 15%;
  }

  .mobile-landscape-h-10
  {
    height: 10%;
  }

  .mobile-landscape-h-5
  {
    height: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tablet-portrait-h-100
  {
    height: 100%;
  }

  .tablet-portrait-h-80
  {
    height: 80%;
  }

  .tablet-portrait-h-70
  {
    height: 70%;
  }

  .tablet-portrait-h-60
  {
    height: 60%;
  }

  .tablet-portrait-h-50
  {
    height: 50%;
  }

  .tablet-portrait-h-40
  {
    height: 40%;
  }

  .tablet-portrait-h-35
  {
    height: 35%;
  }

  .tablet-portrait-h-30
  {
    height: 30%;
  }

  .tablet-portrait-h-20
  {
    height: 20%;
  }

  .tablet-portrait-h-15
  {
    height: 15%;
  }

  .tablet-portrait-h-10
  {
    height: 10%;
  }

  .tablet-portrait-h-5
  {
    height: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .tablet-landscape-h-100
  {
    height: 100%;
  }

  .tablet-landscape-h-80
  {
    height: 80%;
  }

  .tablet-landscape-h-70
  {
    height: 70%;
  }

  .tablet-landscape-h-60
  {
    height: 60%;
  }

  .tablet-landscape-h-50
  {
    height: 50%;
  }

  .tablet-landscape-h-40
  {
    height: 40%;
  }

  .tablet-landscape-h-35
  {
    height: 35%;
  }

  .tablet-landscape-h-30
  {
    height: 30%;
  }

  .tablet-landscape-h-20
  {
    height: 20%;
  }

  .tablet-landscape-h-15
  {
    height: 15%;
  }

  .tablet-landscape-h-10
  {
    height: 10%;
  }

  .tablet-landscape-h-5
  {
    height: 5%;
  }
}

@media (min-width: 1025px)
{
  .h-100
  {
    height: 100%;
  }

  .h-80
  {
    height: 80%;
  }

  .h-70
  {
    height: 70%;
  }

  .h-65
  {
    height: 65%;
  }

  .h-60
  {
    height: 60%;
  }

  .h-50
  {
    height: 50%;
  }

  .h-40
  {
    height: 40%;
  }

  .h-35
  {
    height: 35%;
  }

  .h-30
  {
    height: 30%;
  }

  .h-20
  {
    height: 20%;
  }

  .h-15
  {
    height: 15%;
  }

  .h-10
  {
    height: 10%;
  }

  .h-5
  {
    height: 5%;
  }
}

.w-100
{
  width: 100%;
}

.w-70
{
  width: 70%;
}

.w-60
{
  width: 60%;
}

.w-40
{
  width: 40%;
}

.w-20
{
  width: 20%;
}

.w-10
{
  width: 10%;
}

.h-center
{
  text-align: center;
  justify-content: center;
}

.v-center
{
  display: flex;
  align-items: center;
}

.h-centered
{
  margin-left: auto;
  margin-right: auto;
}

.inline-block
{
  display: inline-block;
}

.block
{
  display: block;
}

.float-l
{
  float: left;
}

.float-r
{
  float: right;
}

.margin-left-10
{
  margin-left: 10px;
}

.margin-right-10
{
  margin-right: 10px;
}

.transparent
{
  background-color: rgba(0, 26, 39, 0.5);
}

.blue
{
  background-color: rgba(0, 26, 39, 1);
}

.opacity-50
{
  opacity: 0.5;
}

#background-img
{
  background: url(../assets/images/background/background.jpg) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

#app
{
  height: 100%;
  width: 100%;
}

.pointer
{
  cursor: pointer;
}

.hidden
{
  display: none;
}

.flex-end
{
  justify-content: flex-end;
}

.no-margin
{
  margin: 0;
}

.white-bg
{
  background-color: #ffffff;
}

.no-padding
{
  padding: 0;
}

.v-bottom
{
  display: flex;
  align-items: flex-end;
}

.absolute
{
  position: absolute;
}

.scrollable
{
  overflow: auto;
}

.scrollable-x
{
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable-y
{
  overflow-x: hidden;
  overflow-y: auto;
}

.no-wrap
{
  white-space: nowrap;
}

.normal
{
  white-space: normal;
}

.float-none
{
  float: none;
}
