@font-face {
  font-family: "Uni Sans";
  src: url("../assets/fonts/Uni Sans/uni-sans.thin-caps.eot");
  src: url("../assets/fonts/Uni Sans/uni-sans.thin-caps.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/Uni Sans/uni-sans.thin-caps.woff") format("woff"),
  url("../assets/fonts/Uni Sans/uni-sans.thin-caps.ttf")  format("truetype"),
  url("../assets/fonts/Uni Sans/uni-sans.thin-caps.svg#svgFontName") format("svg");
}

html
{
  height: 100%;
  width: 100%;
}

body
{
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f4f4f4;
  color: #fff;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.h-100
{
  height: 100%;
}

.h-80
{
  height: 80%;
}

.h-70
{
  height: 70%;
}

.h-60
{
  height: 60%;
}

.h-50
{
  height: 50%;
}

.h-40
{
  height: 40%;
}

.h-35
{
  height: 35%;
}

.h-30
{
  height: 30%;
}

.h-20
{
  height: 20%;
}

.h-15
{
  height: 15%;
}

.h-10
{
  height: 10%;
}

.h-5
{
  height: 5%;
}

.w-100
{
  width: 100%;
}

.w-70
{
  width: 70%;
}

.w-60
{
  width: 60%;
}

.w-40
{
  width: 40%;
}

.w-20
{
  width: 20%;
}

.w-10
{
  width: 10%;
}

.h-center
{
  text-align: center;
}

.v-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-centered
{
  margin-left: auto;
  margin-right: auto;
}

.inline-block
{
  display: inline-block;
}

.block
{
  display: block;
}

.float-l
{
  float: left;
}

.float-r
{
  float: right;
}

.side-margin-10
{
  margin-left: 10px;
  margin-right: 10px;
}

.transparent
{
  background-color: rgba(0, 26, 39, 0.5);
}

.blue
{
  background-color: rgba(0, 26, 39, 1);
}

.opacity-50
{
  opacity: 0.5;
}

#background-img
{
  background: url(../assets/images/background/background-desktop.jpg) center center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

#app
{
  height: 100%;
  width: 100%;
}

.pointer
{
  cursor: pointer;
}

.hidden
{
  display: none;
}
