<loading *ngIf="loading"></loading>
<div id="blog-header" class="h-20 mobile-portrait-h-20 mobile-landscape-h-20 tablet-portrait-h-20 tablet-landscape-h-20 grid-container">
  <div class="h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 grid-10 mobile-portrait-grid-30 mobile-landscape-grid-10 tablet-portrait-grid-10 tablet-landscape-grid-10 inline-block">
    <a routerLink="/">
      <blog-logo></blog-logo>
    </a>
  </div>
  <div class="h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 grid-70 mobile-portrait-grid-30 mobile-landscape-grid-70 tablet-portrait-grid-70 tablet-landscape-grid-70 inline-block"></div>
  <div class="h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 grid-20 mobile-portrait-grid-40 mobile-landscape-grid-20 tablet-portrait-grid-20 tablet-landscape-grid-20 v-center flex-end">
    <a class="blog-header-link margin-right-10">Олимпиада</a>
    <a class="blog-header-link margin-left-10 margin-right-10" routerLink="/blog">Блог</a>
  </div>
</div>

<div class="w-100 h-80 mobile-portrait-h-80 mobile-landscape-h-80 tablet-portrait-h-80 tablet-landscape-h-80 scrollable-y">
  <div class="h-centered w-70" [id]="loading ? '' : 'post'">
    <div id="post-header" class="h-centered w-100 vh-65" [ngStyle]="{'background-image': 'url(' + postRef.img + ')' }">
      <div class="h-center v-center flex-column" [ngClass]="{'darken-bg': !loading}">
        <div class="post-title">
          {{ postRef.title }}
        </div>
        <div class="post-subtitle">
          {{ postRef.subtitle }}
        </div>
      </div>
    </div>
    <div [innerHTML]="post | safeHtml"></div>
  </div>
  <div class="h-10 mobile-portrait-h-10 mobile-landscape-h-10 tablet-portrait-h-10 w-100"></div>
</div>
