<div id="blog-header" class="h-20 mobile-portrait-h-20 mobile-landscape-h-20 tablet-portrait-h-20 tablet-landscape-h-20">
  <div class="w-10 h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 inline-block float-l" routerLink="/">
    <blog-logo></blog-logo>
  </div>
  <div class="w-70 h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 inline-block float-l"></div>
  <div class="w-20 h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 float-l v-center h-center">
    <a class="blog-header-link margin-right-10">Olympiad</a>
    <a class="blog-header-link margin-left-10" routerLink="/blog">Blog</a>
  </div>
</div>
<div id="content" class="h-80 mobile-portrait-h-80 mobile-landscape-h-80 tablet-portrait-h-80 tablet-landscape-h-80"></div>
