<svg
  class="block h-centered h-100"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="100%"
  viewBox="0 0 2000 2000"
  id="svg2"
  version="1.1"
  inkscape:version="0.91 r13725"
  sodipodi:docname="drawing.svg">
  <g
    inkscape:label="Layer 1"
    inkscape:groupmode="layer"
    id="layer1"
    transform="translate(0,947.63784)">
    <path
      style="fill:#001a27;fill-opacity:1;stroke:#7ebdc2;stroke-width:10.7947216;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
      d="m 233.52026,-408.06731 753.20359,-430.20979 754.26305,435.65663 -2.576,865.86634 -753.20365,437.47932 -750.62802,-435.6566 z"
      id="path4869"
      inkscape:connector-curvature="0"
      sodipodi:nodetypes="ccccccc" />
    <path
      sodipodi:type="star"
      style="fill:#001a27;fill-opacity:1;stroke:#7ebdc2;stroke-width:7.19648027;stroke-miterlimit:4;stroke-dasharray:863.57768312;stroke-dashoffset:100%;stroke-opacity:1"
      id="path3342"
      sodipodi:sides="6"
      sodipodi:cx="985.65366"
      sodipodi:cy="29.718492"
      sodipodi:r1="819.94519"
      sodipodi:r2="710.09344"
      sodipodi:arg1="0.52536687"
      sodipodi:arg2="1.0489656"
      inkscape:flatsided="true"
      inkscape:rounded="0"
      inkscape:randomized="0"
      d="M 1695.0211,440.94596 984.20395,849.6624 274.83656,438.43494 l 1.44974,-819.94391 710.81713,-408.71645 709.36737,411.22747 z" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:167.14729309px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;color: #fff"
       x="420"
       y="180"
       id="text4865"
       sodipodi:linespacing="125%"
       transform="scale(1.0620687,0.94155868)"><tspan
         sodipodi:role="line"
         id="tspan4867"
         x="420"
         y="180"
         style="font-style:normal;font-variant:normal;font-weight:200;font-stretch:normal;font-size:350px;font-family:'Uni Sans';-inkscape-font-specification:'Uni Sans Ultra-Light';fill:#fff;fill-opacity:1;">LARCO</tspan></text>
  </g>
</svg>
