<div id="olympiad-header" class="h-15 mobile-portrait-h-20 mobile-landscape-h-20 tablet-portrait-h-20 tablet-landscape-h-20 grid-container">
  <div class="h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 grid-10 mobile-portrait-grid-30 mobile-landscape-grid-10 tablet-portrait-grid-10 tablet-landscape-grid-10 inline-block">
    <a routerLink="/">
      <olympiad-logo></olympiad-logo>
    </a>
  </div>
  <div class="h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 grid-70 mobile-portrait-grid-30 mobile-landscape-grid-70 tablet-portrait-grid-70 tablet-landscape-grid-70 inline-block"></div>
  <div class="h-100 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-100 tablet-landscape-h-100 grid-20 mobile-portrait-grid-40 mobile-landscape-grid-20 tablet-portrait-grid-20 tablet-landscape-grid-20 v-center flex-end">
    <a class="olympiad-header-link margin-right-10" routerLink="/olympiad">Олимпиада</a>
    <a class="olympiad-header-link margin-left-10 margin-right-10" routerLink="/blog">Блог</a>
  </div>
</div>
