<div class="w-100 h-95 mobile-portrait-h-100 mobile-landscape-h-95 tablet-portrait-h-95 tablet-landscape-h-95 scrollable-y">
  <div class="h-10 mobile-portrait-h-10 mobile-landscape-h-10 tablet-portrait-h-10 w-100"></div>
  <div class="h-centered w-70" [id]="general.loading ? '' : 'post'">
    <div class="w-100 vh-30 tablet-landscape-vh-30 mobile-landscape-vh-20 tablet-portrait-vh-20 mobile-portrait-vh-20 h-center" *ngIf="!general.loading">
      <div math-logo *ngIf="subject == 'math'" class="h-80 tablet-landscape-h-80 tablet-portrait-h-80 mobile-portrait-h-80 mobile-landscape-h-70"></div>
      <div physics-logo *ngIf="subject == 'physics'" class="h-80 tablet-landscape-h-80 tablet-portrait-h-80 mobile-portrait-h-80 mobile-landscape-h-70"></div>
      <div chemistry-logo *ngIf="subject == 'chemistry'" class="h-80 tablet-landscape-h-80 tablet-portrait-h-80 mobile-portrait-h-80 mobile-landscape-h-70"></div>
      <div biology-logo *ngIf="subject == 'biology'" class="h-80 tablet-landscape-h-80 tablet-portrait-h-80 mobile-portrait-h-80 mobile-landscape-h-70"></div>
      <div cs-logo *ngIf="subject == 'cs'" class="h-80 tablet-landscape-h-80 tablet-portrait-h-80 mobile-portrait-h-80 mobile-landscape-h-70"></div>
      <div class="h-10 tablet-landscape-h-10 tablet-portrait-h-10 mobile-portrait-h-10 mobile-landscape-h-10"></div>
      <div class="h-20 tablet-landscape-h-20 tablet-portrait-h-20 mobile-portrait-h-20 mobile-landscape-h-20">
        {{ subjectName() }}
      </div>
    </div>
    <div [innerHTML]="post | safeHtml"></div>
    <div class="w-100 vh-10 mobile-portrait-vh-5 mobile-landscape-vh-10 tablet-portrait-vh-5 tablet-landscape-vh-5 h-center v-bottom" *ngIf="!general.loading">
      <button class="back-button h-50 mobile-portrait-h-100 mobile-landscape-h-100 tablet-portrait-h-70 tablet-landscape-h-100" (click)="goBack()">Назад</button>
    </div>
  </div>
  <div class="h-10 mobile-portrait-h-10 mobile-landscape-h-10 tablet-portrait-h-10 w-100"></div>
</div>
