<div class="h-20 mobile-portrait-h-20 mobile-landscape-h-20 tablet-portrait-h-20 tablet-landscape-h-20"></div>
<div class="grid-container h-60 mobile-portrait-h-60 mobile-landscape-h-60 tablet-portrait-h-60 tablet-landscape-h-60">
  <div class="grid-20 h-80 mobile-portrait-h-80 mobile-landscape-h-80 tablet-portrait-h-80 tablet-landscape-h-80 tablet-landscape-grid-20 hide-on-mobile-portrait mobile-landscape-grid-20"></div>
  <div class="grid-60 h-80 mobile-portrait-h-80 mobile-landscape-h-80 tablet-portrait-h-80 tablet-landscape-h-80 tablet-landscape-grid-60 mobile-portrait-grid-100 mobile-landscape-grid-60">
    <root-logo></root-logo>
  </div>
  <div class="grid-20 h-80 mobile-portrait-h-80 mobile-landscape-h-80 tablet-portrait-h-80 tablet-landscape-h-80 tablet-landscape-grid-20 hide-on-mobile-portrait mobile-landscape-grid-20"></div>
  <div class="grid-100 h-5 mobile-portrait-h-5 hide-on-mobile-landscape tablet-portrait-h-5 tablet-landscape-h-5 tablet-landscape-grid-100 mobile-portrait-grid-100 mobile-landscape-grid-100"></div>
  <div class="grid-33 h-15 mobile-portrait-h-15 mobile-landscape-h-20 tablet-portrait-h-15 tablet-landscape-h-15 tablet-landscape-grid-33 hide-on-mobile-portrait mobile-landscape-grid-30"></div>
  <div class="grid-33 h-15 mobile-portrait-h-15 mobile-landscape-h-20 tablet-portrait-h-15 tablet-landscape-h-15 tablet-landscape-grid-33 mobile-portrait-grid-100 mobile-landscape-grid-40">
    <button class="root-button w-40 float-l">Olympiad</button>
    <button class="root-button w-40 float-r" routerLink="/blog">Blog</button>
  </div>
  <div class="grid-33 h-15 mobile-portrait-h-15 mobile-landscape-h-20 tablet-portrait-h-15 tablet-landscape-h-15 tablet-landscape-grid-33 hide-on-mobile-portrait mobile-landscape-grid-30"></div>
</div>
<div class="h-20 mobile-portrait-h-20 mobile-landscape-h-20 tablet-portrait-h-20 tablet-landscape-h-20"></div>
