<div class="h-20"></div>
<div class="grid-container h-60">
  <div class="grid-20 h-80 hide-on-mobile"></div>
  <div class="grid-60 h-80 mobile-grid-100">
    <logo></logo>
  </div>
  <div class="grid-20 h-80 hide-on-mobile"></div>
  <div class="grid-100 h-5"></div>
  <div class="grid-33 h-15 hide-on-mobile"></div>
  <div class="grid-33 h-15 mobile-grid-100">
    <button class="root-button w-40 float-l">Olympiad</button>
    <button class="root-button w-40 float-r">Blog</button>
  </div>
  <div class="grid-33 h-15 hide-on-mobile"></div>
</div>
<div class="h-20"></div>
